import pdfminer - pdf to text

- pip3 install pdfminer.six

import spacy - nlp

- pip3 install spacy
- python -m spacy download en_core_web_sm



import re - regex

import os - os file path

import pandas as pd - output csv

# Regex

Metacharacters:

^$.|{ }[ ]*+?\

- | separates alternatives, aka or

- Parenteses () are used to define the scope and precedence of the operators

- ? indicates zero or one occurences of the preceding element

- * indicates zero or more occurences of the preceding element. e.g. ab*c matches "ac", "abc", "abbc", "abbbc", and so on.

###  RE Methods

re.match()
- returns a match object instance if zero or more characters the beginning of the string match the regular expression.

re.search()
- returns a match object instance if part of the string contains zero or more characters match the regular expression. the match object contains the location of the first "match".

re.findall()

re.split()

re.sub()

re.compile()

In [1]:
import re

text = "Best Python course"

re.match("Best", text)

In [2]:
re.match("Best|Good", text)

In [3]:
text2 = "Good Python Course"
re.match("Best|Good", text2)

In [4]:
text2 = "Good Best Python Course"
re.search("Best|Good", text2)

In [5]:
# returns nothing
re.match("Course",text2)

In [6]:
re.findall("Best|Good", text2)

['Good', 'Best']

In [7]:
re.findall('AAAAAAAAA', text2)

[]

# Basic Overview of Spacy Functions

In [8]:
import spacy

### Load English tokenizer, tagger, parser, NER and word vectors

In [9]:
nlp = spacy.load('en_core_web_sm')

### Sample Text

In [10]:
# Process whole documents
text = "Google was initially funded by an August 1998 contribution of $100,000 from Andy Bechtolsheim, co-founder of Sun Microsystems; the money was given before Google was incorporated.[30] Google received money from three other angel investors in 1998: Amazon.com founder Jeff Bezos, Stanford University computer science professor David Cheriton, and entrepreneur Ram Shriram.[31] Between these initial investors, friends, and family Google raised around 1 million dollars, which is what allowed them to open up their original shop in Menlo Park, California"

In [11]:
text

'Google was initially funded by an August 1998 contribution of $100,000 from Andy Bechtolsheim, co-founder of Sun Microsystems; the money was given before Google was incorporated.[30] Google received money from three other angel investors in 1998: Amazon.com founder Jeff Bezos, Stanford University computer science professor David Cheriton, and entrepreneur Ram Shriram.[31] Between these initial investors, friends, and family Google raised around 1 million dollars, which is what allowed them to open up their original shop in Menlo Park, California'

### NLP at Work

In [12]:
doc = nlp(text)

In [13]:
doc

Google was initially funded by an August 1998 contribution of $100,000 from Andy Bechtolsheim, co-founder of Sun Microsystems; the money was given before Google was incorporated.[30] Google received money from three other angel investors in 1998: Amazon.com founder Jeff Bezos, Stanford University computer science professor David Cheriton, and entrepreneur Ram Shriram.[31] Between these initial investors, friends, and family Google raised around 1 million dollars, which is what allowed them to open up their original shop in Menlo Park, California

### Tokenisation

In [14]:
for token in doc:
    print(token)

Google
was
initially
funded
by
an
August
1998
contribution
of
$
100,000
from
Andy
Bechtolsheim
,
co
-
founder
of
Sun
Microsystems
;
the
money
was
given
before
Google
was
incorporated.[30
]
Google
received
money
from
three
other
angel
investors
in
1998
:
Amazon.com
founder
Jeff
Bezos
,
Stanford
University
computer
science
professor
David
Cheriton
,
and
entrepreneur
Ram
Shriram.[31
]
Between
these
initial
investors
,
friends
,
and
family
Google
raised
around
1
million
dollars
,
which
is
what
allowed
them
to
open
up
their
original
shop
in
Menlo
Park
,
California

### Only Noun

In [15]:
for token in doc:
    if token.pos_ == "NOUN":
        print(token)

contribution
co
-
founder
money
money
angel
investors
founder
computer
science
professor
entrepreneur
investors
friends
family
dollars
shop

### Adjectives

In [16]:
for token in doc:
    if token.pos_ == "ADJ":
        print(token)

other
Shriram.[31
initial
original

More about pos_ : 

https://machinelearningknowledge.ai/tutorial-on-spacy-part-of-speech-pos-tagging/

### Named Entity Recognition

In [17]:
for entity in doc.ents:
    print(entity.text, ", Entity type: ", entity.label_)

August 1998 , Entity type:  DATE
100,000 , Entity type:  MONEY
Andy Bechtolsheim , Entity type:  PERSON
Sun Microsystems , Entity type:  ORG
Google , Entity type:  ORG
three , Entity type:  CARDINAL
1998 , Entity type:  DATE
Amazon.com , Entity type:  ORG
Jeff Bezos , Entity type:  PERSON
Stanford University , Entity type:  ORG
David Cheriton , Entity type:  PERSON
Ram Shriram.[31 , Entity type:  PERSON
Google , Entity type:  ORG
around 1 million dollars , Entity type:  MONEY
Menlo Park , Entity type:  GPE
California , Entity type:  GPE

# Resume Parsing

In [18]:
import spacy
import pdfminer
import re
import os
import pandas as pd

# this pdf2txt.py is available for download from pdfminer's github repo
import pdf2txt

- s.path.basename() method returns the tail part after splitting the specified path into (head, tail) pair.
- os.path.splitext() method in Python is used to split the path name into a pair root and ext. Here, ext stands for extension and has the extension portion of the specified path while root is everything except ext part.
- The os.path.splitext(f)[0] would remove the .pdf part of our filename.
- The os.path.basename() would get rid of the folder path part in front of the filename.

In [19]:
os.path.splitext("af/abc.pdf")[0]

'af/abc'

In [20]:
os.path.basename(os.path.splitext("af/abc.pdf")[0]) + '.txt'

'abc.txt'

In [21]:
def convert_pdf(f):

    output_filename = os.path.basename(os.path.splitext(f)[0]) + '.txt'
    output_filepath = os.path.join("output/txt/", output_filename)
    
    # pdf to txt and save to the given location
    pdf2txt.main(args=[f, "--outfile", output_filepath])
    
    print(output_filepath + " saved successfully")
    return open(output_filepath).read()

In [22]:
nlp = spacy.load("en_core_web_sm")

In [23]:
result_dict = {"name": [], "phone": [], "email": [], "skills": []}
names = []
phones = []
emails = []
skills = []

In [24]:
# phone_num credit https://stackoverflow.com/a/3868861

In [25]:
def parse_content(text):
    skillset = re.compile("python|java|sql|hadoop|tableau")
    phone_num = re.compile(
        "(\d{3}[-\.\s]??\d{3}[-\.\s]??\d{4}|\(\d{3}\)\s*\d{3}[-\.\s]??\d{4}|\d{3}[-\.\s]??\d{4})"
    )
    doc = nlp(text)
    name = [entity.text for entity in doc.ents if entity.label_ == "PERSON"][0]
    print(name)
    email = [word for word in doc if word.like_email == True][0]
    print(email)
    phone = str(re.findall(phone_num, text.lower()))
    skills_list = re.findall(skillset, text.lower())
    unique_skills_list = str(set(skills_list))
    names.append(name)
    emails.append(email)
    phones.append(phone)
    skills.append(unique_skills_list)
    print("Extraction completed successfully!!!")

In [26]:
for file in os.listdir('resumes/'):
    if file.endswith('.pdf'):
        print('Reading...' + file)
        txt = convert_pdf(os.path.join('resumes/', file))
        parse_content(txt)
        print("\n")

Reading...Alisson ParkerCV.pdf
output/txt/Alisson ParkerCV.txt saved successfully
Alisson Parker-Wright
alli1414parks@mail.com
Extraction completed successfully!!!


Reading...AshleyMilesCV.pdf
output/txt/AshleyMilesCV.txt saved successfully
Ashley Miles
ashleymiles@memail.com
Extraction completed successfully!!!


Reading...John DominicCV.pdf
output/txt/John DominicCV.txt saved successfully
John Dominic
johndominic@mail.com
Extraction completed successfully!!!

In [27]:
result_dict['name'] = names
result_dict['phone'] = phones
result_dict['email'] = emails
result_dict['skills'] = skills

result_df = pd.DataFrame(result_dict)
result_df

,name,phone,email,skills
0,Alisson Parker-Wright ...,['8569878511'],alli1414parks@mail.com,"{'tableau', 'java', 'python'}"
1,Ashley Miles,['6592251422'],ashleymiles@memail.com,"{'sql', 'tableau'}"
2,John Dominic,['7877756411'],johndominic@mail.com,"{'hadoop', 'java', 'python'}"

In [28]:
result_df.to_csv('output/csv/parsed_resumes.csv')